*{
    margin: 0;
    padding: 0;
}

:root {
    --light-gray: #f7f7f7;
    --gray: #e2e2e2;
    --dark-gray: #888888;
    --main-green: #5ee85b;
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-md: 18px;
    --text-xl: 40px;
    --text-exl: 64px;
}

/* .botones {
    padding: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    margin: 15px 0;
} */

/* .clean-button {
    border: 0;
    background: none;
    cursor: pointer;
} */

/* nav > * {
    margin: 0 auto ;
} */

/* nav {
    position: fixed;

    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5rem;
    background-color: rgba(250,250,250,255);
    height: 100vh;
} */

/* a:active > svg {
    transform: scale(0.9);
} */

/* nav ul {
    list-style: none;
    margin: 1vh auto;
} */

/* #lista-iconos-abajo {
    margin-bottom: 10vh;
} */

/* #contenedor-iconos-arriba {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

/* #logo {
    margin: 1vh auto;
} */

/* .activo svg, .activo-svg{
    color: #fff;
} */

/* img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */

/* header,main,footer {
    margin-left: 5rem;
} */



/* .alerta {
    background-color: #ffffff;
    color: var(--dark-gray);
} */


/* #contenedor-alertas, #contenedor-alertas-busqueda, #contenedor-filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contenedor-alertas > * {
    margin: 0 10px;
}

header, main {
    margin: 20px 1.5vw 20px calc(5rem + 1.5vw);
}

#filtros {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#filtros > * {
    margin: 0 5px;
}

h1 {
    width: 10ch;
}

header > * {
    margin-bottom: 2vh;

} */

/* #payouts {
    display: flex;
    justify-content: space-between;
}

.payout {
    height: fit-content;
    width: fit-content;
    background-color: var(--light-gray);
    padding: 20px 15px;
    border-radius: calc(40px  - 10px);
    width: 27.5vw;
} */



/* #ventas-pedidos {
    display: flex;
    justify-content: space-between;
    margin-top: .7rem;
}

#ventas-pedidos > * {

    padding: 5px 10px;
    border-radius: 40px;
    width: 47%;
    height: 20rem;
    background-color: var(--light-gray);
}

#ventas {
    margin-left: 1%;
}

#ventas-content {
    margin: 0 20px;
} */

/*
#ventas-content > * {
    height: 35vh;
}

.bar {
    background-color: var(--dark-gray);
    height: 100%;
    border-radius: 5px;
} */

/* #ventas-filter, #pedidos-filter {
    display: flex;
    align-items: center;
} */



.activo {
    background-color: #000000 !important;
    color: #fff;
}

.oculto {
    transform: scale(0);
}

.pill {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 1vw;
    border-radius: 30vh;
    background-color: var(--light-gray);
    border: #f6f6f6 2px solid;
}


.pill-icon {
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50%;
}

.pill-text {
    padding: 0 18px;
}

.fondo-blanco {
    background-color: #fff;
}

.fondo-verde {
    background-color: var(--main-green);
}

.fondo-gris-claro {
    background-color: var(--light-gray);
}

.fondo-gris {
    background-color: var(--gray);
}

.fondo-gris-oscuro {
    background-color: var(--dark-gray);
}

.fondo-negro {
    background-color: #000000;
}

.card-header {
    font-size: var(--text-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header-img {
    width: 18px;
    height: 18px;
    padding: 10px;
    background-color: var(--gray);
}

.card-content {
    font-size: var(--text-xl);
}

.payout-footer {
    font-size: var(--text-xs);
}

.payout-footer > p > span {
    color: var(--dark-gray);
}

/* .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "content content content";
}

.header { grid-area: header; }

.content {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 6px 10px; 
    grid-auto-flow: row;
    grid-area: content;
} */

.day {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.day-value {
    margin: auto;
    width: -webkit-fill-available;
}

.day-value > * {
    margin: auto;
}

.day-graph {
    display: flex;
    align-self: flex-end;
    width: 100%;
    background-color: var(--gray);
    border-radius: 20px;
}

.day-name {
    margin: auto;
}

.day-1 {
    grid-area: 1 / 1 / 4 / 2;
}

.day-2 {
    grid-area: 1 / 2 / 4 / 3;
}

.day-3 {
    grid-area: 1 / 3 / 4 / 4;
}

.day-4 {
    grid-area: 1 / 4 / 4 / 5;
}

.day-5 {
    grid-area: 1 / 5 / 4 / 6;
}

.day-6 {
    grid-area: 1 / 6 / 4 / 7;
}

.day-1-graph {
    height: 80%;
}
.day-2-graph {
    height: 60%;
}
.day-3-graph {
    height: 50%;
}
.day-4-graph {
    height: 100%;
}
.day-5-graph {
    height: 40%;
}
.day-6-graph {
    height: 55%;
}

.graph-activo {
    background-color: var(--main-green);
}

.container-pedidos {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-header-container card-header-container"
      "card-content-container card-content-container";
}

.card-header-container { grid-area: card-header-container; }

.card-content-container { grid-area: card-content-container; }

.month-card {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.container-pedidos-mes {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "m-1-n m-1-c-1 m-1-c-2 m-1-c-3 m-1-c-4"
        "m-2-n m-2-c-1 m-2-c-2 m-2-c-3 m-2-c-4"
        "m-3-n m-3-c-1 m-3-c-2 m-3-c-3 m-3-c-4"
        "m-4-n m-4-c-1 m-4-c-2 m-4-c-3 m-4-c-4";
    align-items: center;
    height: 95%;
    text-align: center;
}

.m-1-n { grid-area: m-1-n; }

.m-1-c-1 { grid-area: m-1-c-1; }

.m-1-c-2 { grid-area: m-1-c-2; }

.m-1-c-3 { grid-area: m-1-c-3; }

.m-1-c-4 { grid-area: m-1-c-4; }

.m-2-n { grid-area: m-2-n; }

.m-2-c-1 { grid-area: m-2-c-1; }

.m-2-c-2 { grid-area: m-2-c-2; }

.m-2-c-3 { grid-area: m-2-c-3; }

.m-2-c-4 { grid-area: m-2-c-4; }

.m-3-n { grid-area: m-3-n; }

.m-3-c-1 { grid-area: m-3-c-1; }

.m-3-c-2 { grid-area: m-3-c-2; }

.m-3-c-3 { grid-area: m-3-c-3; }

.m-3-c-4 { grid-area: m-3-c-4; }

.m-4-n { grid-area: m-4-n; }

.m-4-c-1 { grid-area: m-4-c-1; }

.m-4-c-2 { grid-area: m-4-c-2; }

.m-4-c-3 { grid-area: m-4-c-3; }

.m-4-c-4 { grid-area: m-4-c-4; }



.container {  display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1.5fr 2fr;
    gap: 8px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "barra-lateral search search"
      "barra-lateral header header"
      "barra-lateral payouts payouts"
      "barra-lateral sales orders";
  }
  
  .barra-lateral { grid-area: barra-lateral; }
  
  .search { grid-area: search; }
  
  .header { grid-area: header; }
  
  .payouts { grid-area: payouts; }
  
  .sales { grid-area: sales; }
  
  .orders { grid-area: orders; }
  